html, body{
  padding: 0;
  max-width: 95%;
  max-height: 95%;
}

.image1{
  width: 50px;

}

.image2{
  float: right;
  width: 100px;

}
h1{
  text-align: center;
}

form{
  float: right;
  padding-top: 45px;
}
figure img{
  width: 160px;
}
.image3{
text-align: right;
}

.piscine2{
  text-align: right;
}
.texte1{
  display: inline-block;
  margin-right: 105px;
}
a:hover{
  text-decoration: underline;
  color: black;
}
a{
  text-decoration: none;
}
*{
  border: 1px solid black;
}
