html, body{
  padding: 0;
  background-color: skyblue;
}
@media only screen and (max-device-width: 700px)


.image1{
  width: 15%;

}

.image2{
  float: right;
  width: 25%;
}


figure img{
  width: 90%;
  border: 3px solid red;
}
input{
 margin: 0 auto;
 padding-right: 102px;
 padding-left: auto;

}

value{
  margin-left: 15px;
}

}
/*page formulaire*/

iframe{
  width: 90%;
  height: 90%;
}
p{
  background-color: white;
}
a:hover{
  text-decoration: underline;
  color: black;
}
a{
  text-decoration: none;
}
/*Tableaux des prix*/
